.connectBtnContainer {
    position: fixed;
    top: 0;
    right: 0;
    margin: 20px;
}
.listContainer {
    position: fixed;
    top: 150px;
    color: white;

}
.voteItem {
    cursor: pointer;
}
.singleContainer {
    color: white;
}
.oneRow {
    margin: 10px;
}
.backButton {
    position: fixed !important;
    top: 0;
    left: 0;
    margin: 20px;
}
.informArea {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}